node_modules
.venvs
.git
.gitignore
.mcp
test
docs
*.md
.env
.env.*
dbt_project
*.json
!package.json
!package-lock.json
!config/recipes.json
!config/bigframes-facts.json
!config/retentioneering-facts.json
bq-key.json
